### Python ###

# Byte-compiled
__pycache__/
*.pyc

# Distribution
build/
dist/
*.egg-info/


### PyCharm ###
.idea/


### Jupyter ###
.ipynb_checkpoints/


### Datasets and anomaly lists ###
data/*.dat
data/*.name
data/*.csv
