name: Python

on:
  push:
    paths:
    - 'setup.py'
    - 'zwad/**'
    - '.github/workflows/python.yml'
  pull_request:
    paths:
    - 'setup.py'
    - 'zwad/**'
    - '.github/workflows/python.yml'

jobs:
  zwad:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install repository and pytest
      run: |
        pip install -e .
        pip install pytest
    - name: Run tests
      run: pytest
